<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpiroflowAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpiroflowAddIn.Properties.Settings>
            <setting name="BOMExportPath" serializeAs="String">
                <value>c:\workspace\</value>
            </setting>
            <setting name="DrawingExportPath" serializeAs="String">
                <value>c:\workspace\</value>
            </setting>
            <setting name="Engineer" serializeAs="String">
                <value>zstauffer</value>
            </setting>
        </SpiroflowAddIn.Properties.Settings>
    </userSettings>
</configuration>